@use "sass:math";

$navigationSize: 44px;

.slider {
  background-color: #fff;

  &-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  &-button-next,
  &-button-prev {
    position: absolute;
    top: 50%;
    width: math.div($navigationSize, 2);
    height: $navigationSize;
    margin-top: calc(0px - #{math.div($navigationSize, 2)});
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
  }

  &-button-prev {
    left: 10px;
    right: auto;
  }

  &-button-next {
    right: 10px;
    left: auto;
  }
}
